{% extends "base.html" %}
{% load url from future %}

{% block script %}

{% endblock %}

{% block heading %}
    Welcome  {{ user.first_name|default:"Not provided" }} {{ user.last_name|default:"Not provided" }}!
    <a rel="nofollow" class="logout" href="/logout/">Logout</a>
{% endblock %}

{% block content %}
    <div>
        <h3>Here is your user data:</h3>
        <table class="table table-bordered table-striped">
            <tr class="odd">
                <th>Id:</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr class="even">
                <th>Username:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="odd">
                <th>Email:</th>
                <td>{{ user.email|default:"Not provided" }}</td>
            </tr>
            <tr class="even">
                <th>First name:</th>
                <td>{{ user.first_name|default:"Not provided" }}</td>
            </tr>
            <tr class="odd">
                <th>Last name:</th>
                <td>{{ user.last_name|default:"Not provided" }}</td>
            </tr>
            <tr class="even">
                <th>Last login backend:</th>
                <td>{{ last_login }}</td>
            </tr>
        </table>
    </div>
{% endblock %}