{% extends "base.html" %}
{% load url from future %}

{% block heading %}
    Welcome  {{ user.first_name|default:"Not provided" }} {{ user.last_name|default:"Not provided" }}!
    <a rel="nofollow" class="logout" href="/logout/">Logout</a>
{% endblock %}

{% block content %}
    {% if latest_photo_list %}
        <hr/>
        {% for photo in latest_photo_list %}
            <h3><a href="/photos/{{ photo.id }}/">{{ photo.title }}</a></h3>
            <p>{{ photo.description }}</p>
        {% endfor %}
        <hr/>
    {% else %}
        <p>No photos are available.</p>
    {% endif %}
{% endblock %}